---
import Content from '@components/Content.astro'
import Navegation from '@components/Navegation.astro'
import NotMobile from '@components/NotMobile.astro'
import Layout from '@layout/Layout.astro'

const script = true
---

<Layout title="Tarea+ - Gestión de tareas y productividad">
  <div id="touch-content" style="display: none;">
    <NotMobile />
  </div>
  <div id="mouse-content" style="display: none;">
    <Navegation />
    <Content />
  </div>
</Layout>
{script && (
  <script>
  const touchContent = document.getElementById('touch-content')
  const mouseContent = document.getElementById('mouse-content')

  const isTouchDevice = () => {
    return (
      'ontouchstart' in window ||
      navigator.maxTouchPoints > 0
    )
  }
  if (isTouchDevice()) {
    if (touchContent) {
      touchContent.style.display = 'block';
    }
  } else {
    if (mouseContent) {
      mouseContent.style.display = 'block';
    }
  }
  </script>
)}